<header>
  <app-message></app-message>
</header>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h2>Import/Export</h2>
    <p class="lead">Here you can import or export selected type of data. In JSON format. XML not implemented. For xml ->
      <a href="http://www.utilities-online.info/xmltojson/">CLICK!</a></p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Choose data type</span>
      </h4>
      <div class="form-group">
        <select class="form-control input-control" [(ngModel)]="dataType">
          <option value="user">User</option>
          <option value="album">Album</option>
          <option value="photo">Photo</option>
        </select>
      </div>
      <div class="input-group">
        <div class="btn-group-lg">
          <button class="btn btn-lg btn-outline-primary" [disabled]="!data || data.length == 0" (click)="importData()" >Import</button>
          <button class="btn btn-lg btn-outline-primary" (click)="exportData()">Export</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate #dataForm="ngForm">

        <div class="mb-3">
          <label for="data">Data</label>
          <textarea type="text" class="form-control" id="data" name="data" rows="10" required [(ngModel)]="data"></textarea>
        </div>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Arkadiusz Nieckarz</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://github.com/arekn">Github!</a></li>
    </ul>
  </footer>
</div>

